<ul>
  <li><a class="active"href="/pages/frogger">Frogger</a></li>
  <li><a href="/highscores">Highscores</a></li>
</ul>
<h1>frogger (or dogger?)</h1>
<div id="game">
  <div class="road 5"></div>
  <div class="road 4"></div>
  <div class="road 3"></div>
  <div class="road 2"></div>
  <div class="road 1"></div>
  <div id="doggie" class="doggie"></div>
</div>
<div class="btn_div">
<button id="start" data-label="START">STARt</button>
</div>
<script>
$("#start").removeClass("loading")
$("#start").removeAttr('disabled')

$("#start").click(function(){
  $("#start").addClass("loading")
  $("#start").attr('disabled','disabled')

  // *********************************GET START TIME****************************************
  $.ajax({
    type: "GET",
    url: "/start",
    dataType:"json",
    success:function(data) {
      console.log(data);
      start_time=data
      return false;
    },
    error:function(data) {
      console.log(data);
      return false;
    }
  });
  // *********************************FIRST ROAD****************************************
  $(".1").prepend("<div class='car c1'></div>")

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 2000);

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 4000);

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 5500);

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 7500);

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 9200);

  setTimeout(function() {
    $(".1").prepend("<div class='car c1'></div>")

  }, 13800);

  // *********************************SECOND ROAD****************************************
  $(".2").prepend("<div class='car c2'></div>")

  setTimeout(function() {
    $(".2").prepend("<div class='car c2'></div>")

  }, 2500);

  setTimeout(function() {
    $(".2").prepend("<div class='car c2'></div>")

  }, 4000);

  setTimeout(function() {
    $(".2").prepend("<div class='car c2'></div>")

  }, 8000);

  setTimeout(function() {
    $(".2").prepend("<div class='car c2'></div>")

  }, 10000);

  // *********************************THIRD ROAD****************************************
  $(".3").prepend("<div class='car c3'></div>")

  setTimeout(function() {
    $(".3").prepend("<div class='car c3'></div>")

  }, 2000);

  setTimeout(function() {
    $(".3").prepend("<div class='car c3'></div>")

  }, 3100);

  setTimeout(function() {
    $(".3").prepend("<div class='car c3'></div>")

  }, 4000);

  setTimeout(function() {
    $(".3").prepend("<div class='car c3'></div>")

  }, 6000);

  setTimeout(function() {
    $(".3").prepend("<div class='car c3'></div>")

  }, 7200);

  // *********************************FORTH ROAD****************************************
  $(".4").prepend("<div class='car c4'></div>")

  setTimeout(function() {
    $(".4").prepend("<div class='car c4'></div>")

  }, 2000);

  setTimeout(function() {
    $(".4").prepend("<div class='car c4'></div>")

  }, 3100);

  setTimeout(function() {
    $(".4").prepend("<div class='car c4'></div>")

  }, 4400);

  setTimeout(function() {
    $(".4").prepend("<div class='car c4'></div>")

  }, 5400);

  setTimeout(function() {
    $(".4").prepend("<div class='car c4'></div>")

  }, 7000);

  // *********************************FIFTH ROAD****************************************
  $(".5").prepend("<div class='car c5'></div>")

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 1700);

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 3100);

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 4400);

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 5400);

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 7000);

  setTimeout(function() {
    $(".5").prepend("<div class='car c5'></div>")

  }, 9000);

  // *********************************SIXTH ROAD****************************************
  $(".6").prepend("<div class='car c6'></div>")

  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 1000);


  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 2500);

  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 3000);

  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 4000);
  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 5000);

  setTimeout(function() {
    $(".6").prepend("<div class='car c6'></div>")

  }, 5900);





  // *********************************MOVES CARS ****************************************
  var move_cars= window.setInterval(function(){
    $(".c1").animate({
          left: "+=1px",
      }, 10 );

    $(".c2").animate({
          left: "+=2px",
      }, 10 );

    $(".c3").animate({
          left: "+=1.5px",
      }, 10 );
    $(".c4").animate({
          left: "+=1.7px",
      }, 10 );
    $(".c5").animate({
          left: "+=1.2px",
      }, 10 );
    $(".c6").animate({
          left: "+=2.6px",
      }, 10 );
  }, 10);



  // *********************************RESETS CARS ****************************************


  window.setInterval(function(){
    $('.car').each(function() {
      if ($(this).offset().left>1303){
        var p=$(this).parent()
        var classes=$(this).attr("class")
        $(this).remove();
        p.prepend("<div class='"+classes+"'></div>");
      };
    });
  }, 1);



  // *********************************MOVES DOG ****************************************

  $(document).keydown(function(e) {
      switch(e.which) {
          case 37: // left
          if ($("#doggie").offset().left<365){
          }else{
            $("#doggie").animate({left:'-=5px'},1)
            $('#doggie').css("background-image", "url('/assets/dog-left.png')");
          }

          break;

          case 38: // up
          $("#doggie").animate({bottom:'+=5px'},1)
          $('#doggie').css("background-image", "url('/assets/dog-back.png')");
          break;

          case 39: // right
          if ($("#doggie").offset().left>1320){
          }else{
            $("#doggie").animate({left:'+=5px'},1)
            $('#doggie').css("background-image", "url('/assets/dog-right.png')");
          }

          break;

          case 40: // down
          if ($("#doggie").offset().top>800){
          }else{
            $("#doggie").animate({bottom:'-=5px'},1)
            $('#doggie').css("background-image", "url('/assets/dog-front.png')");
          }

          break;

          default: return; // exit this handler for other keys
      }
      e.preventDefault(); // prevent the default action (scroll / move caret)
  });



  // *********************************TEST FOR COLLISIONS****************************************

  var lose=window.setInterval(function(){
    $('.car').each(function() {

      var x1 = $(this).offset().left;
      var y1 = $(this).offset().top;
      var h1 = $(this).outerHeight(true);
      var w1 = $(this).outerWidth(true);
      var b1 = y1 + h1 ;
      var r1 = x1 + w1 ;
      var x2 = $("#doggie").offset().left;
      var y2 = $("#doggie").offset().top+5;
      var h2 = $("#doggie").outerHeight(true)-10;
      var w2 = $("#doggie").outerWidth(true);
      var b2 = y2 + h2;
      var r2 = x2 + w2;
      if (b1 < y2 || y1 > b2 || r1 < x2 || x1 > r2){

      }else{
          $(this).css({"border-color":"blue"})
          window.clearInterval(move_cars);
          $("#doggie").removeAttr("id");
          // *********************************GET END TIME****************************************
          $.ajax({
            type: "GET",
            url: "/end",
            async: false,
            dataType:"json",
            success:function(data) {
              console.log(data);
              end_time=data
              return false;
            },
            error:function(data) {
              console.log(data);
              return false;
            }
          });
          var total_time= (start_time-end_time)
          total_time = Math.abs(total_time)
          total_time /= Math.pow(10, 3);
          total_time= total_time.toFixed(3);
          $("#start").removeClass("loading")
          $("#start").removeAttr('disabled')
          console.log(total_time);
          swal({
            title: "YOU LOSE!!!",
            text: "You Managed to Lose in "+total_time+" seconds",
            type: "error",
            showCancelButton: true,
            confirmButtonColor: "#33cc33",
            confirmButtonText: "Try Again?",
            cancelButtonText: "See Highscores",
            allowEscapeKey:false,
            closeOnConfirm: false,
            closeOnCancel: false
          },
          function(isConfirm){
            if (isConfirm) {
              window.location.assign("/pages/frogger")
            } else {
          	   window.location.assign("/highscores")
            }
          });
           window.clearInterval(lose);
      };
    });
  }, 10);



  // *********************************TEST FOR WINNING****************************************

  var win= window.setInterval(function(){
      if ($("#doggie").offset().top<222){
        window.clearInterval(move_cars);
        $("#doggie").removeAttr("id");
        // *********************************GET END TIME****************************************
        $.ajax({
          type: "GET",
          url: "/end",
          async: false,
          dataType:"json",
          success:function(data) {
            console.log(data);
            end_time=data
            return false;
          },
          error:function(data) {
            console.log(data);
            return false;
          }
        });
        var total_time= (start_time-end_time)
        total_time = Math.abs(total_time)
        total_time /= Math.pow(10, 3);
        total_time= total_time.toFixed(3);
        $("#start").removeClass("loading")
        $("#start").removeAttr('disabled')
        console.log(total_time);
        // sweetAlert("YOU WIN!!!","Your Time Was "+total_time+" seconds","success");
         window.clearInterval(win);
         swal({
          title: "Congratulations You Finished! Your Score is "+total_time+" Seconds",
          text: "Enter Your Name Below To Submit Highscore:",
          type: "input",
          showCancelButton: false,
          closeOnConfirm: false,
          animation: "slide-from-top",
          inputPlaceholder: "Your Name"
        },
        function(inputValue){
          if (inputValue === false) return false;

          if (inputValue === "") {
            swal.showInputError("You need to write something!");
            return false
          }

          $.ajax({
            type: "POST",
            url: "/highscores",
            dataType:"json",
            data: { highscore: { user: inputValue, time: total_time } },
            success:function(data) {
              console.log("yay");
              window.location.assign("/highscores")
              return false;
            },
            error:function(data) {
              console.log(data);
              return false;
            }
          });
        });
      };
  }, 1);

});





</script>
