/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweetalert
 *= require_self
 */

#game{
  width: 1000px;
  height: 650px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  background-image: url("grass.png");
  overflow-x: hidden;
}
.road{
  width: 100%;
  border: 1px solid black;
  height: 50px;
  margin-top: 45px;
  background-image: url("road.jpg");
  background-position: center;
  background-size: 100px 50px;
}
.car{
  width: 45px;
  height: 25px;
  background-image: url("car.png");
  background-position: center;
  background-size: 45px 25px;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  border: 1px solid red;
}
#doggie{
  width: 22px;
  height: 40px;
  background-image: url("dog-back.png");
  background-position: center;
  background-size: 22px 40px;
  margin-top: 10px;
  display: inline-block;
  position: absolute;
  left: 50%;
  border: 1px solid red;
}
